.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #33363d;
  height: 100vh;

  &__message {
    overflow-y: scroll;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px;
    color: lightgray;

    form {
      flex-grow: 1;
      input {
        padding: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: large;
        width: 100%;
      }
      button {
        display: none;
      }
    }
  }
  //   &_icons {
  //     .MuiSvgIcon-root {
  //       //   padding: 5px;
  //     }
  //   }
}
